{{!< default}}
<div class="row expanded collapse">
	<div class="small-12 columns">
		<div class="hero hero--1 row expanded align-middle">
			<h1>Welcome to Ada Worship</h1>
		</div>
	</div>
</div>
<!-- <div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		 -->

<div class="home-body">
	<div class="container">
		<div class="row song-list">
			<div class="small-10 small-offset-1 medium-12 medium-offset-0 columns">
				{{#if user.isNotAuditionUser}}
				<h5>Recently Added Songs</h5>
				{{/if}}
			</div>

			{{# each data.songs}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="small-10 small-offset-1 medium-6 medium-offset-0 columns song">

					<div class="row collapse">

					<div class="small-4 columns">


						{{#if image.url}}
						<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img">
						{{else}}
						<img src="/images/album-placeholder.png" class="img" />
						{{/if}}
										</div>

					<div class="small-8 columns song__info-container">

						{{#if artist}}
							<h4 class="artist">{{artist.name}}</h4>{{/if}}
					<h2 class="title">{{{title}}}</h2>
					<a href="{{songUrl slug}}" class="button hollow">Learn</a>
							</div>

</div>


				</div>
				{{/each}}

				<div class="small-10 small-offset-1 medium-12 medium-offset-0 columns">
					{{#if user.isNotAuditionUser}}
					<a class="button hollow" href="songs/" style="display:block; margin-top: 2em;">See All Songs</a>
					{{/if}}
				</div>
		</div>
	</div>
</div>

<!-- </div> -->
