<div class="row collapse song__header">
	<div class="small-12 columns">
		<!-- <p><a href="/songs">&larr; back to the songs</a></p>
				<hr> -->
		<div class="row collapse">
			<div class="small-3 columns song__album-art">
				{{#if data.song.image.url}}
					<img src="{{{cloudinaryUrl data.song.image width=750 height=450 crop='fit' }}}" class="img-responsive">
				{{else}}
					<img src="/images/album-placeholder.png" class="img" />
				{{/if}}
				{{{data.song.content.extended}}}
			</div>
			<div class="small-9 columns song__info-container">
				<h5 class="song__artist">
	            {{#if data.song.artist}}{{data.song.artist.name}}{{/if}}
						</h5>
				<h1 class="song__title">{{data.song.title}}</h1>

			</div>
		</div>
	</div>
</div>
<div class="row">


<ul class="tabs" data-tabs id="song-tabs">
  <li class="tabs-title is-active"><a data-tabs-target="panel1" aria-selected="true">Multitrack</a></li>
  <li class="tabs-title"><a data-tabs-target="panel2" >Tutorial Videos</a></li>
</ul>
</div>
<div class="tabs-content" data-tabs-content="song-tabs">
  <div class="tabs-panel is-active" id="panel1">
		<div class="row song__tab-container collapse">
			<div class="small-12 columns">
				<h2>new</h2>
				<div id="top-bar" class="playlist-top-bar">
					<div class="playlist-toolbar">
						<div class="row collapse align-middle">

							<div class="columns shrink">


								<div class="button-group playback-controls">
									<span class="btn-pause button btn-warning"><i class="fa fa-pause"></i></span>
									<span class="btn-play button btn-success"><i class="fa fa-play"></i></span>
									<span class="btn-stop button btn-danger"><i class="fa fa-stop"></i></span>
									</div>
							</div>
							<div class="columns song__keys-container">
								<h6>Keys</h6>
								<div style="display:flex;">
								{{#each data.song.keys}}
									<a href="/songs/{{../data.song.slug}}?key={{name}}" {{#if active}}class="active"{{/if}}>{{name}}</a>
								{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div id="playlist"></div> -->
				<form class="form-inline" style="visibility:hidden;">
					<div class="checkbox">
						<label>
			      <input type="checkbox" class="automatic-scroll" > Automatic Scroll
			    </label>
					</div>
				</form>
				<!-- <div class="sound-status"></div> -->
				<!-- <div class="loading-data"></div> -->
			</div>
		</div>
	  </div>
  <div class="tabs-panel" id="panel2">
		<div class="row song__tab-container collapse">
			<div class="small-12 columns">
				Tutorial videos coming soon

				<button onclick="playSound();" class="playSound">Play Sound</button>

			</div>
		</div>
			  </div>
</div>



<script>
var soundID = "Thunder";
function playSound () {
	createjs.Sound.play("Cue");
	createjs.Sound.play("Drums");
	createjs.Sound.play("Rhythm");
	createjs.Sound.play("Lead");
	createjs.Sound.play("Keys");
	createjs.Sound.play(soundID);
	createjs.Sound.play("Synth Bass");
  createjs.Sound.play("Vocal");
}

	$(function() {
		var song = {{{json data.song}}};
		var trackList = {{{json data.trackList}}};
		var key = {{{json data.key}}};
		loadTracks(song.title, key, trackList);

		createjs.Sound.registerSound("/media/Close - E/02 Cue.mp3", "Cue");
		createjs.Sound.registerSound("/media/Close - E/03 Drums.mp3", "Drums");
		createjs.Sound.registerSound("/media/Close - E/06 Rhythm ELEC.mp3", "Rhythm");
		createjs.Sound.registerSound("/media/Close - E/07 Lead ELEC.mp3", "Lead");
		createjs.Sound.registerSound("/media/Close - E/08 Live Keys.mp3", "Keys");
		createjs.Sound.registerSound("/media/Close - E/09 Tracks.mp3", soundID);
		createjs.Sound.registerSound("/media/Close - E/10 Synth Bass.mp3", "Synth Bass");
		createjs.Sound.registerSound("/media/Close - E/13 Lead Vocal.mp3", "Vocal");
	});
</script>
