<div class="row collapse top-pad">
	<div class="small-10 small-offset-1 medium-12 medium-offset-0 columns">
		<h4>All Songs</h4>
		<!-- <h4 class="text-weight-normal">Showing {{ data.songs.results.length}} song.</h4> -->
		<div class="row collapse song-list">
			{{# each data.songs.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}"
				class="small-12 medium-6 columns song">

					<div class="row collapse">

						<div class="small-4 columns">

							{{#if image.url}}
							<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img">
							{{else}}
							<img src="/images/album-placeholder.png" class="img" />
							{{/if}}
						</div>

						<div class="small-8 columns song__info-container">
							{{#if artist}}
								<h4 class="artist">{{artist.name}}</h4>{{/if}}
							<h2 class="title">{{{title}}}</h2>
							<a href="{{songUrl slug}}" class="button hollow">Learn</a>
						</div>

					</div>


				</div>
				{{/each}}
		</div>
	</div>
	<!-- <div class="col-sm-4 col-md-3">
			<h2>Artists</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/songs" class="active list-group-item">All Artists</a>
				{{# each data.artists }}
					<a href="{{artistUrl key}}" class="false list-group-item">{{name}}</a>
					{{/each}}
			</div>
		</div> -->
</div>
<!-- {{>pagination}} -->
